<!doctype html>
<html lang="en">
<style>
    body,html{
         height: 100%;
    }
	</style>
  <head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	
	<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</script>
    <title>AST Space</title>
  </head>

  <body>
  	<div style='display:none;'>
		<img src="/img/astlogo.jpeg"/>
	</div>
	
    <div class="container" id="app" ></div>
    <script src="dist/build.js"></script>
  </body>


</html>
